@mixin transitionEaseInOut ($duration: 0.3s, $ease: ease-in-out) {
-webkit-transition: all $duration $ease;
-moz-transition: all $duration $ease;
-o-transition: all $duration $ease;
-ms-transition: all $duration $ease;
-khtml-transition: all $duration $ease;
transition: all $duration $ease;
}

// transition linear
@mixin transitionLinear($duration: 0.3s, $linear: linear) {
  -webkit-transition: all $duration $linear;
  -moz-transition: all $duration $linear;
  -o-transition: all $duration $linear;
  -ms-transition: all $duration $linear;
  -khtml-transition: all $duration $linear;
  transition: all $duration $linear;
}

// breakpoint
@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: #{map-get($breakpoints, $breakpoint)}) {
      @content;
    }
  }

  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}

@mixin n-columns($min-width, $gutter, $last-equal: true, $max-cols: 5) {
  .o-columns {
    display: flex;
    flex-wrap: wrap;
    margin-left: -$gutter;
    margin-top: -$gutter;

    .o-columns__item {
      flex: 1 0 $min-width;
      margin-left: $gutter;
      margin-top: $gutter;
      border-bottom: 1px solid color($floral, dark);
      // &:nth-child(2n+1) {
      //   border-right: 1px solid #d8d8d8;
      //   padding-left:0 !important;
      // }


      @if $last-equal {
        @for $i from 2 through $max-cols {
          $screen-width: ($min-width*$i)+($gutter*$i);
          $column-width: (100%/$i);
          @media (min-width: $screen-width) {
            max-width: calc(#{$column-width} - #{$gutter});
            border-bottom: 0;
            &:nth-child(2n+1) {

              border-right: 1px solid color($floral, dark);
              padding-left:0 !important;
            }
          }
        }

        $column-width: (100%/$max-cols);
        @media (min-width: $min-width*$max-cols) {
            min-width: calc(#{$column-width} - #{$gutter});
        }
      }

    }
  }
}

/* 0.3 Animazioni
     ========================================================================== */
  .animated-out,.animated-in {
    -webkit-transition-timing-function: cubic-bezier(0.13,0.71,0.30,0.94);
    -moz-transition-timing-function: cubic-bezier(0.13,0.71,0.30,0.94);
    -o-transition-timing-function: cubic-bezier(0.13,0.71,0.30,0.94);
    transition-timing-function: cubic-bezier(0.13,0.71,0.30,0.94);
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
  }

  .animated-out {
    -webkit-transform: translateY(55px);
    -moz-transform: translateY(55px);
    -o-transform: translateY(55px);
    -ms-transform: translateY(55px);
    transform: translateY(55px);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
  }

  .animated-in {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    visibility:visible;
  }
