<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PRXM2KD" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<header class="c-header" role="banner" id="js-fixedNav">
    <div class="c-header__wrapper c-header__wrapper--full">

				<a href="https://www.hype.it/" class="c-logo">HYPE</a>

			<nav class="c-main-navigation" role="navigation" aria-label="Main Menu">
        <ul class="c-main-navigation__list">
          <li class="c-main-navigation__list-item"><a class="c-main-navigation__link" href="https://www.hype.it/funzionalita">FUNZIONALITÀ</a></li>
          <li class="c-main-navigation__list-item"><a class="c-main-navigation__link" href="https://www.hype.it/offerta">COSTI</a></li>
          <li class="c-main-navigation__list-item"><a class="c-main-navigation__link" href="https://www.hype.it/hypeplus">HYPE PLUS</a></li>
          
          <li class="c-main-navigation__list-item"><a class="c-main-navigation__link" href="https://blog.hype.it/">BLOG</a></li>
          <li class="c-main-navigation__list-item c-main-navigation__list-item--right">
            <a class="c-main-navigation__link" href="https://app.hype.it/">Login <img class="c-main-navigation__link-icon" target="_blank" src="{{asset 'login-icon.svg' }}" alt="login icon"> </a>
            <a class="c-main-navigation__link" href="https://support.hype.it/hc/it">Aiuto <img class="c-main-navigation__link-icon" target="_blank" src="{{asset 'help-icon.svg' }}" alt="help icon"> </a>
          </li></ul>

				{{!-- <ul class="c-main-navigation__list">
					<li class="c-main-navigation__list-item">
						<a class="c-main-navigation__link" href="https://www.hype.it/funzionalita">Funzionalità</a>
					</li>
					<li class="c-main-navigation__list-item">
						<a class="c-main-navigation__link" href="https://www.hype.it/hypeplus">HYPE Plus</a>
					</li>
					<li class="c-main-navigation__list-item">
						<a class="c-main-navigation__link" href="https://www.hype.it/landing-apple-pay">Apple Pay</a>
					</li>
					<li class="c-main-navigation__list-item">
						<a class="c-main-navigation__link" href="https://www.hype.it/offerta">Piani</a>
					</li>
					<li class="c-main-navigation__list-item c-main-navigation__list-item--right">
            <a class="c-main-navigation__link" href="/hc/it">Aiuto <img class="c-main-navigation__link-icon" target="_blank" src="{{asset 'help-icon.svg' }}"> </a>
					</li>
				</ul> --}}
			</nav>
        <!-- {% include language-switcher.html %} -->
        <a class="e-button" href="https://www.hype.it/signup/">REGISTRATI</a>
    </div>
</header>
<div class="c-mobile-navigation c-mobile-navigation--closed" id="js-mobileMenu">
  <a href="https://www.hype.it/" class="c-logo">HYPE</a>
  <a class="e-button" href="https://www.hype.it/signup/">REGISTRATI</a>
  <a href="#" class="c-mobile-navigation__burger" id="js-mobileMenu__button">MENU</a>

  <ul class="c-mobile-navigation__list">
    <li class="c-mobile-navigation__list-item c-mobile-navigation__list-item--active">Home</li>
    <li class="c-mobile-navigation__list-item">
      <a class="c-mobile-navigation__link" href="https://www.hype.it/funzionalita">Funzionalità</a>
    </li>
    <li class="c-mobile-navigation__list-item">
      <a class="c-mobile-navigation__link" href="https://www.hype.it/hypeplus">HYPE Plus</a>
    </li>
    <li class="c-mobile-navigation__list-item">
      <a class="c-mobile-navigation__link" href="https://www.hype.it/landing-apple-pay">Apple Pay</a>
    </li>
    <li class="c-mobile-navigation__list-item">
      <a class="c-mobile-navigation__link" href="https://www.hype.it/landing-google-pay">Google Pay</a>
    </li>
    <li class="c-mobile-navigation__list-item">
      <a class="c-mobile-navigation__link" href="https://www.hype.it/offerta">Costi</a>
    </li>
    <li class="c-mobile-navigation__list-help">
      <a class="c-mobile-navigation__link-help" href="https://support.hype.it/hc/it">Aiuto
        <img class="c-mobile-navigation__link-icon" target="_blank" src="{{asset 'help-icon.svg' }}">
      </a>
    </li>
    <li class="c-mobile-navigation__list-item">
      <a href="https://www.hype.it/signup/" class="e-button c-mobile-navigation__signup">Registrati</a>
    </li>
  </ul>
</div>

<script>
// Burger menu
var createBurger = function () {

  var navigation = document.getElementById('js-mobileMenu');
  var burger = document.getElementById('js-mobileMenu__button');
  var featuresNavigationBar = document.getElementById('js-featuresNavigation');
  var closeText = 'CHIUDI';

  if (!navigation || !burger) return;

  if (window.location.href.split('/').indexOf('en') >= 0) {
    closeText = 'CLOSE';
  }

  burger.onclick = function (e) {
    //console.log('Burger')
    e.preventDefault();
    if (navigation.classList.contains('c-mobile-navigation--closed')) {
      navigation.classList.remove('c-mobile-navigation--closed');
      navigation.classList.add('c-mobile-navigation--open');
      if (!!featuresNavigationBar) {
        featuresNavigationBar.classList.add('c-features-navigation--hidden');
      }
      burger.innerHTML = closeText;
    } else {
      navigation.classList.remove('c-mobile-navigation--open');
      navigation.classList.add('c-mobile-navigation--closed');
      if (!!featuresNavigationBar) {
        featuresNavigationBar.classList.remove('c-features-navigation--hidden');
      }
      burger.innerHTML = 'MENU';
    }
  };
};

$(document).ready(function() {
  createBurger();
});
</script>
