<section class="section">
	<div class="hero c-hero">
		<div class="o-wrapper">
			<div class="error-page">
				<h1>{{t 'oops'}}</h1>

						<h2>{{t 'nonexistent_page'}}</h2>
						<p>{{t 'mistyped_address_or_moved_page'}}</p>

					{{#link 'help_center'}}
						{{t 'back_to_homepage'}}
					{{/link}}
			</div>
		</div>
	</div>
</section>
