// ↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧
// Pages page tags
// Last update: 08/08/2016
// ↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥

// Metro mode compatibility.
@-ms-viewport {
  width: device-width;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: color($purple, lightest);

  @if $font-face-name and $font-face-name != '' {
    font-family: $font-face-name, $font-family;
  } @else if $use-google-fonts {
    @include font('Open Sans', 700);
  } @else {
    font-family: -apple-system, BlinkMacSystemFont, $font-family;
  }
}

::selection {
  color: color($purple, default);
  text-shadow: none;
  background-color: color($blue, lightest);
}

body[class^='e-feature-'],
.e-plus {
  margin-top: $base-spacing-x8;
}

body:not([class^='e-landing']) > main {
  padding-top: 2rem;
}

// #chatbot {
//   position: fixed;
//   right: 0;
//   bottom: 0;
//   z-index: 1020;
// }

.e-home,
.e-landing, .e-landing-partner {
  background: url('images/hero_bg.png') top right no-repeat;
  background-size: contain;
  overflow-x: hidden;
  background-position: 0 4rem;
}

@media screen and (break(medium)) {
  body:not([class^='e-landing']) > main {
    padding-top: 0;
  }
  .e-home,
  .e-landing, .e-landing-partner {
    background-size: 50%;
    background-position: 100% 0;
  }
  .e-landing .c-prefooter .o-wrapper,
  .e-landing .c-footer.o-wrapper {
    max-width: 100%;
    padding-left: $base-spacing-x7 * 2;
    padding-right: $base-spacing-x7 * 2;
  }
  body[class^='e-feature-'],
  .e-plus {
    margin-top: 0;
  }
}
