// .o-wrapper {
//   max-width: 1220px;
//   margin: 0 auto;
// }

// Centered container element
@mixin container-fixed($gutter: $grid-gutter) {
  margin-right: auto;
  margin-left: auto;
  padding-left:  floor(($gutter));
  padding-right: ceil(($gutter));
  @include clearfix;
}

.o-wrapper {
  position: relative;
  padding-bottom: 64px;
  @include container-fixed;

  @each $breakpoint-name, $breakpoint-value in $breakpoints {
    @if $breakpoint-value < 81em {
      @include respond-to($breakpoint-name) {
        width: $breakpoint-value - 1em;
      }
    }
  }

}

.o-row {
  display: block;
  width: 100%;
  &::after {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }
}
