.c-block-list-with-icons__list {
  padding: 0;
  margin: 0;
  overflow: hidden;
  &.c-block-list-with-icons__list--overflow {
    overflow: visible;
  }
}

.c-block-list-with-icons__list-item {
  display: block;
  list-style: none;
  width: 100%;
  padding: 40px;
  border-top: 1px solid #F1F3F7;
  border-bottom: 1px solid #F1F3F7;
  float: left;
  text-align: center;

  img {
    display: block;
    margin: 0 auto $base-spacing-x4 auto;
    width: 70px;
  }

  p {
    font-size: 1rem;
    color: color($purple, lighter);
    font-weight: 500;
  }
  &:last-child {
    border-right: 0 !important;
  }
  &.c-block-list-with-icons__list-item--no-border {
    border-top: 0;
    border-bottom: 0;
  }
}

@media screen and (break(small)) {
  .c-block-list-with-icons__list-item {
    display: inline-block;
    width: 25%;
    text-align: center;
    border-right: 1px solid #F1F3F7;

  }
  .c-block-list-with-icons__list--three {
    .c-block-list-with-icons__list-item {
      margin-bottom: 60px;
      width: 33%;
      &:nth-child(3n+0) {
        border-right: 0;
      }
    }
  }
}
