.c-faq-table {
  margin: 10px auto 30px auto;
  text-align: left;


 input[type=checkbox] {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;

  }
input[type=checkbox]:checked ~ p {
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    transform: translate(0, 50%);
  }
 input[type=checkbox]:checked ~ i:before {
    transform: translate(2px, 0) rotate(45deg);
  }
  input[type=checkbox]:checked ~ i:after {
    transform: translate(-2px, 0) rotate(-45deg);
  }
}
.c-faq-table div{
  border-bottom: 1px solid color($floral, dark);
  padding: $base-spacing-x2 0;
}
h3{
  padding-top: $base-spacing-x2;
}
.c-faq-table label {
  text-align: left;
  margin: 0;
  font-size: 1.125rem;
  font-weight: 600;
  color: color($purple,lighter);
  cursor: pointer;
  line-height: 33px;
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 5px 40px 5px 0;

  h4 {
    margin: 16px 0;
    font-weight: 400;
  }
}

.c-faq-table label:hover {
  background: #fff;
}

.c-faq-table input:checked + label,
.c-faq-table input:checked + label:hover {

}

.c-faq-table label:after,
.c-faq-table input:checked + label:after {
  content: '';
  position: absolute;
  display: inline-block;
  width: 27px;
  height: 17px;
  right: 0;
  top: 35px;
  background: url(../../assets/images/arrow-down.svg) no-repeat center center;
}

.c-faq-table input:checked + label:after {
  background: url(../../assets/images/arrow-up.svg) no-repeat center center;
}

.c-faq-table input {
  display: none;
}

.c-faq-table article {

  margin-top: -1px;
  overflow: hidden;
  height: 0px;
  opacity: 0;
  position: relative;
  z-index: 10;
  -webkit-transition: opacity .3s ease-in-out;
  -moz-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  -ms-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}

.c-faq-table article p {
  font-size: 1rem;
}

.c-faq-table article li {
  font-size: 1.125rem;
  color: color($purple, darker);
}

.c-faq-table input:checked ~ article {
  opacity: 1;
  -webkit-transition:opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out;
  -ms-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
  height: auto;
}

@media screen and (break(medium)) {
  .c-faq-table label {
    padding: 5px 0;
  }
}


.c-faq-table--tim {
  margin-left: 30px!important;
  margin-right: 50px!important;
  }
