
.c-features-card-block__image {
  width: 320px;
  max-width: 320px;
  margin: 0 auto;
  text-align: center;
}
@media screen and (break(medium)) {

  .c-features-card-block {
    text-align: left;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
  }

  .c-features-card-block__text {
    flex: 2;
    padding: 32px;
    margin-right: $base-spacing-x2;
    order: 1;
  }

  .c-features-card-block__title {
    text-align: center;
    color: color($blue, default);
    z-index: 10;
    display: block;
    width: 100%;
  }

  .c-features-card-block__image {
    display: block;
    width: 360px;
    max-width: 360px;
    position: relative;
    flex: 1;
    order: 2;
    margin-right: $base-spacing-x3;
  }
}

