.c-footer__navigation {
  display: inline-block;
  margin-top: $base-spacing-x4;
  @include n-columns(150px,  0px, true, 2);
  .c-footer__navigation__list-item {
    &:nth-child(2n) {
      padding-left: 30px;
      border: 0;
    }
  }
}

.c-footer__navigation__list {
  padding: 0;
  margin: 0;
  width: 100%;
  //column-count: 2;
  //column-gap: $base-spacing-x5;
}

.c-footer__navigation__list-item {
  font-size: 1rem;
  font-weight: 500;
  list-style: none;
  padding: $base-spacing $base-spacing $base-spacing 0;
  //align-self: flex-start;
  border-right: 1px solid color($floral, dark);

  &--active {
    font-size: 1rem;
    font-weight: 500;
    color: color($blue, default);
  }
}

.c-footer__navigation__link {
  font-size: 1rem;
  color: color($purple, lighter);
  white-space: nowrap;
}

@media screen and (break(extraSmall)) {


  .c-footer__navigation__list {
    //column-count: 2;
    //column-gap: $base-spacing-x5;
    //min-width: 373px;
  }

  .c-footer__navigation__list-item {
    //align-self: flex-start;
    //border-right: 1px solid color($floral, dark);
  }
}

@media screen and (break(small)) {
  .c-footer__navigation {
    @include grid(6,12,30px);
  }
  .c-footer__navigation__list-item {
    padding: $base-spacing $base-spacing-x5 $base-spacing 0;
    &:nth-child(2n) {
      border-right: 1px solid color($floral, dark) !important;
    }
  }
}
@media screen and (break(medium)) {
  .c-footer__navigation {
    @include grid(6,12,30px);
  }
  .c-footer__navigation__list {
    //column-count: 2;
    //column-gap: $base-spacing-x5;
    //max-width: 354px;
  }

  .c-footer__navigation__list-item {
    //align-self: flex-start;
    //border-right: 1px solid color($floral, dark);
  }
}

@media screen and (break(large)) {
  .c-footer__navigation {
    @include grid(4,12,30px);
  }
}
