.c-help-block {
  display: block;
  overflow: hidden;
  margin-top: 2em;
  vertical-align: top;
  text-align: center;
  border: 1px solid #F2EEE6;
  padding-top: 20px;
  padding-bottom: 20px;
}

.c-help-block__text {
  &-title {
    font-size: 1.75rem;
    margin: 0;
    padding-top: $base-spacing;
    font-weight: 600;
    color: color($blue, default);
  }

  &-paragraph {
    font-size: 1rem;
    font-weight: 400;
    color: color($purple, lightest);
  }
}

@media screen and (break(extraSmall)) {


}

@media screen and (break(small)) {
  .c-help-block {
    text-align: left;
    @include grid(6,12,30px);
    border: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
  .c-help-block__image {
    float: left;
  }

  .c-help-block__text {
    float: left;
    display: inline-block;
    max-width: 83%;
    margin-left: $base-spacing-x4;
  }
}

@media screen and (break(medium)) {
  .c-help-block {
    @include grid(6,12,30px);
  }

}

@media screen and (break(large)) {
  .c-help-block {
    @include grid(4,12,30px);
  }
}
