.c-hero {
  padding: $base-spacing-x5 $base-spacing-x2;
  text-align: center;
  &--landing {
    margin-top: $base-spacing-x8;
    padding: $base-spacing-x3 $base-spacing-x2;
  }

  .c-hero__title {
    br {
      display: none;
    }
  }
}

.c-hero__promotion-legal {
  color: color($purple, lightest);
}

.c-hero__underage {
  display: block;
  padding-top: 1rem;
}

.c-hero__image {
  display: none;
}

.c-hero__image-timpersonal{
  width: 200px;
  margin-top: 56px;
}
.c-hero__pretimpersonal{
  margin-bottom: 24px;
  display: inline;
  color: #1C5186;
  font-weight: 700;
  font-size: 2.7rem;
}
.c-hero__phone-timpersonal {
  max-width: 730px;
  top: -78px;
  right: -80px;
  position: absolute;
}

.c-hero__apple-pay {
  max-width: 80%;
  margin-top: 40px;
}

.c-hero__subtext {
  margin: 0 auto $base-spacing-x3 auto;
  padding: $base-spacing-x2 $base-spacing-x5;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 400;
  color: color($purple, lightest);
}

.c-hero__button {
  padding: $base-spacing-x2 $base-spacing;
  margin-top: $base-spacing;
}

.c-hero__applepay {
  margin-top: $base-spacing-x6;
  height: 28px;
}

.c-hero__play {
  background: none !important;
  box-shadow: none;
  outline: none;
  border: none;
  position: absolute;
  top: 200px;
  z-index: 100;
  svg {
    width: 150px;
    height: 150px;
  }
}

@media screen and (break(medium)) {
  .c-hero {
    display: flex;
    align-items: center;
    text-align: left;
    padding: 9% $base-spacing-x3 $base-spacing-x5 $base-spacing-x5;

    &--landing {
      margin-bottom: $base-spacing-x8;
    }
    &--landingtim {
      padding: 6% $base-spacing-x3 $base-spacing-x5 $base-spacing-x5;
    }
  }
  .c-hero__subtitle {
    padding: 0 28% 0 0;
  }
  .c-hero__text {
    flex: 2;
    align-self: center;
  }

  .c-hero__title {
    //max-width: 76%;
    margin: 0;

    br {
      display: block;
    }
  }
  .c-hero__title-timpersonal {
    padding: $base-spacing-x3 28% 0 0;
  }

  .c-hero__image {
    transform: scale(0.6);
    display: block;
    min-height: 600px;
    min-height: 50vh;
    position: relative;
    flex: 1;
  }

  .c-hero__safe-to-spend,
  .c-hero__row,
  .c-hero__row--2,
  .c-hero__row--3,
  .c-hero__phone,
  .c-hero__other {
    position: absolute;
  }

  .c-hero__safe-to-spend,
  .c-hero__row,
  .c-hero__row--2,
  .c-hero__row--3 {
    z-index: 10;
    max-width: 310px;
  }

  .c-hero__apple-pay {
    max-width: 465px;
  }

  .c-hero__phone {
    max-width: 530px;
    right: 0;
  }

  .c-hero__other {
    max-width: 830px;
    right: -330px;
    z-index: 11;
  }
  .c-hero__promotion {
    max-width: 90%;
  }
  .c-hero__phone_plus {
    max-width: 585px;
    right: 0;
  }

  .c-hero__minori {
    max-width: 430px;
    right: 0;
  }

  .c-hero__safe-to-spend {
    top: 50px;
    right: -8px;
  }

  .c-hero__row {
    top: 214px;
    right: 8px;

    &--2 {
      top: 300px;
      right: -32px;
    }

    &--3 {
      top: 385px;
      right: 8px;
    }
  }
}

.c-hero__row {
  // animation: 1s ease fadeInLeft .8s forwards;
  //opacity: 0;
}

.c-hero__row--2 {
  // animation: 1s ease fadeInRight 1.1s forwards;
  // opacity: 0;
}

.c-hero__row--3 {
  //animation: 1s ease fadeInLeft 1.4s forwards;
  //opacity: 0;
}

@media screen and (break(large)) {
  .c-hero__subtitle {
    padding: 0;
  }
  .c-hero__subtitle-timpersonal {
    padding: 0 28% 0 0;
  }

}
