.c-landing-comparative-table {
  background: color($blue, default);
  padding: $base-spacing-x5  $base-spacing-x2;
  text-align: center;
}
.e-landing-timpersonal {
  .c-landing-comparative-table {
    background: #82B9E6;
    padding: $base-spacing-x5  $base-spacing-x2;
    text-align: center;
  }
}

.c-landing-comparative-table__title {
  color: color($floral, default);
}

.c-landing-comparative-table__list {
  max-width: 885px;
  padding: 0;
  margin: $base-spacing-x5 auto;
}

.c-landing-comparative-table__list-item {
  display: block;
  list-style: none;
  text-align: left;
  border-bottom: 1px solid rgba(0, 0, 0, .05);
  padding: $base-spacing-x4 0;

  &:last-child {
    border-bottom: 0;
  }

  p {
    display: inline-block;
    margin: 0;
    font-size: 1.375rem;
    color: color($floral, default);
    font-weight: 500;
    width: 60%;
  }
}

.c-landing-comparative-table__list-icons {
  float: right;
  overflow: hidden;
  width: 40%;
}

.c-landing-comparative-table__icon {
  display: block;
  width: 45px;
  height: 45px;
  float: right;
  margin-left: $base-spacing-x2;

  &--true {
    background: url(/assets/images/icon_true.svg) center center no-repeat;
  background-size: contain;
  background-position-y: 3px;
  }

  &--false {
    background: url(/assets/images/icon_false.svg) center center no-repeat;
    background-size: 27px;
  }
}

@media screen and (break(medium)) {
  .c-landing-comparative-table {
    padding: $base-spacing-x5;
  }
  .c-landing-comparative-table__list-item {
    padding: $base-spacing-x4 $base-spacing-x2;
  }

  .c-landing-comparative-table__list-icons {
    padding-right: $base-spacing-x2;
  }
  .c-landing-comparative-table__icon {
    margin-left: 30%;
  }
}
