.c-usage-limits-table {
  padding: 0;
  text-align: center;
  h3 {
    text-align: left;
  }
}

.c-usage-limits-table__list {
  padding: 0;
  margin: $base-spacing-x5 auto;
}

.c-usage-limits-table__list-item {
  display: inline-block;
  list-style: none;
  text-align: left;
  border-bottom: 1px solid rgba(0, 0, 0, .05);
  padding: $base-spacing-x2 0;
  width: 100%;

  &:last-child {
    border-bottom: 0;
  }
}

.c-usage-limits-table__list-text {
  float: left;
  padding-right: $base-spacing-x2;
  overflow: hidden;
  width: 100%;
  margin-top: 3px;
  font-weight: 500;
  font-size: 1.125rem;

}

.c-usage-limits-table__list-value {
  float: left;
  overflow: hidden;
  width: 50%;
  text-align: center;
  margin-top: $base-spacing-x4;
  color: color($blue, default);
  font-size: 1.125rem;
  position: relative;
  display: block;

  h3 {
    display: none;
  }

}

.c-usage-limits-nb {
  font-size: 1rem;
  text-align: left;
  color: color($purple, lighter);
  margin-top: $base-spacing-x3;
}
.c-usage-limits-table__list-value--column-title{
  display: none;
}
.c-usage-limits-table__list-value--start {
  position: relative;
  &:before {
    content: "Start: ";
    position: relative;
    color: color($purple, darkest);
    display: block;
  }
}

.c-usage-limits-table__list-value--plus {
  position: relative;
  &:before {
    content: "Plus: ";
    position: relative;
    color: color($purple, darkest);
    display: block;
  }
}

@media screen and (break(medium)) {
  .c-usage-limits-table {
    padding: $base-spacing-x5;
  }
  .c-usage-limits-table__list-item {
    display: flex;
    padding: $base-spacing-x3 0;
  }
  .c-usage-limits-table__list-value {
    width: 15%;
    text-align: center;
    margin-top: 3px;
    height: auto;
    line-height: inherit;
    h3 {
      display: block;
      text-align: center;
    }

  }
  .c-usage-limits-table__list-text {
    width: 70%;
    padding-right: $base-spacing-x6;
  }
  .c-usage-limits-table__list-value--column-title{
    display: block;
  }
  .c-usage-limits-table__list-value--plus, .c-usage-limits-table__list-value--start {
    &:before {
      display: none;
    }
  }
}
