  body>main {
    padding-top: 0 !important;
  }

  ul {
      list-style: none;
      margin: 0;
      padding: 0;
  }

  .notification-lock {
    position: relative;
    z-index: 10;
  }

 .c-logo {
   background: url('$assets-logo-svg') no-repeat;
 }

.c-hero {
  position: relative;
  align-items: center;
  justify-content: center;
  background-image: url('$assets-hero-bg-jpg');
  background-position: center;
  background-size: cover;
  height: auto;
  padding: 40px 20px;
  text-align: center;
  width: 100%;
  color: color($purple, light);
  h1 {
    margin-bottom: 1em;
  }
  @include respond-to(medium) {
    //min-height: calc(100vh - 140px);
    min-height: 750px;
    align-items: flex-start;
    padding-top: 160px;
  }

  .c-ill-window {
    display: none;
    @include respond-to(medium) {
      display: block;
    }
    // margin: 0 auto;
    // width: 100%;
    // display: block;
    // position: absolute;
    // .c-ill-window__wrapper {
    //   position: relative;
    // }
    .c-ill-window__item {
      position: absolute;
      &:nth-child(1) {
        left: 20px;
        top: 90%;
        .c-ill-window__item-bubble {}
      }
      &:nth-child(2) {
        left: 50%;
        transform: translateX(-50%);
        top: 120%;
        //transform: translateY(-110%);
        .c-ill-window__item-bubble {
          position: absolute;
          top: 50%;
          right:0px;
          transform: translateX(80%);
          border-bottom-left-radius: 0;
        }
      }
      &:nth-child(3) {
        right: 20px;
        top: 100%;
        .c-ill-window__item-bubble {
          position: absolute;
          top: 50%;
          left:0px;
          transform: translateX(-80%);
          border-bottom-right-radius: 0;
        }
      }
    }
    .c-ill-window__item-wrapper {
      position: relative;
    }
    .c-ill-window__item-bubble {
      font-size: 0.8em;
      padding: 8px 15px;
      border-radius: 4px;
      box-shadow: 0 1px 19px 0 rgba(0, 0, 0, 0.06);
      background-color: #ffffff;
      display: inline-block;
      white-space:nowrap;
    }
  }
}

.c-form__hero-search {
  width: 90%;
  margin: 0 auto;
  border-radius: 6px;
  box-shadow: 0 1px 19px 0 rgba(0, 0, 0, 0.06);

  @include respond-to(medium) {
    width: 60%;
  }

  input[type="search"] {
    border-radius: 6px;
    font-size: 1em;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 78px;
    height: auto;
    border: none;
    &:focus {
      outline: 0;
      border: none;
    }
    @include respond-to(medium) {
      font-size: 1.4em;
      padding-top: 18px;
      padding-bottom: 18px;
    }
  }
  &::before {
    font-family: "hype-icon" !important;
    content: "\e909" !important;
    font-size: 1.7em;
    @include transitionEaseInOut(0.4s);
  }
  &:focus-within {
    &::before {
      color: color($blue, default);
    }
  }
  @include respond-to(large) {
    width: 60%;
  }
}

.c-hero-internal {
  background-image: none;
  background-color: rgba(185, 230, 255, 0.12);
  height: auto;
  padding: 40px 20px;
  //margin-top: 30px;
  margin-top: 0;
  align-items: center;
  @include respond-to(medium) {
    min-height: 300px;
    margin-top: 0;
  }
  .c-hero__breadcrumbs {
    align-items: center;
    justify-content: center;
    order: 1;
    //display: none;
    @include grid(12, 12, 30px);
    @include respond-to(medium) {
      @include grid(6, 12, 30px);
      display: block;
    }
  }
  .c-hero__search {
    align-items: center;
    order: 2;
    @include grid(12, 12, 30px);
    @include respond-to(medium) {
      @include grid(6, 12, 30px);
    }
    .c-form__hero-search {
      width: 100%;
    }
  }
  .o-wrapper {
    // width: 100% !important;
    // max-width: 1220px !important;
    @include respond-to(medium) {
      display: flex;
    }
    flex-direction: row;
    align-items: center;
  }
}

.c-new-features {
  padding: $base-spacing-x4 0;
  background-color: color($floral, default);
  text-align: center;
  > div {
    padding: 0 $base-spacing-x3;
  }
  .c-new-features__title {
    color: color($orange,default);
    font-weight: 600;
  }
  .c-new-features__text {

  }
}

.search-result-description em {
  font-weight: bold;
  background-color: color($blue,default);
  color: #ffffff;
  padding: 0px 3px 2px;
  border-radius: 3px;
}

.c-section-title {
  color: color($purple, lighter);
  margin: 100px auto 65px auto;
  text-align: center;
}
.c-block-list-with-icons__list-item {
  @include transitionEaseInOut();
  .icon {
    font-size: 3.5em;
    color: color($blue,default);
  }
  .c-block-list-with-icons__title {
    color: color($purple, lighter);
    font-size: 1.1em;
    span {
      font-size: 0.7em;
      color: color($orange, default);
    }
  }
  .c-block-list-with-icons__text {
    font-size: 0.65em;
  }
  .c-block-list-with-icons__link {
    font-size: 0.65em;
    a {
      display: block;
      color: color($blue, default);
      &:hover {
        color: transparentize(color($blue, default), 0.3)
      }
      &:nth-child(n+4) {
         display: none;
      }
    }
  }
  .c-block-list-with-icons__link--more {
    margin-top: 16px;
    font-size: 0.6em;
    font-weight: 600;
    a {
      color: color($blue, default);
      position: relative;
      &:before {
        content: "";
        height: 2px;
        position: absolute;
        z-index: 2;
        width: 100%;
        bottom: -2px;
        left: 0;
        background-color: color($blue,default);
        @include transitionEaseInOut();
      }
      &:after {
        opacity: 0;
        content: "\2192";
        height: 2px;
        position: absolute;
        width: 100%;
        right: -16px;
        transform: translateX(30px);
        @include transitionEaseInOut();
      }
      &:hover {
        &:before {
          width: 0;
        }
        &:after {
          opacity: 1;
          transform: translateX(0);
        }
      }
    }

  }
  &:hover {
    transform: scale(1.05);
    box-shadow: 0 1px 19px 0 rgba(0, 0, 0, 0.06);
    background-color: #ffffff;
    border-color: #ffffff;
  }
}

.c-recent-articles {
  background-color: lighten(color($purple,lightest),20%);
  padding: 70px 0;
  h3 {
    color: color($purple,default);
    font-size: 1.5em;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    a {
      font-weight: 600;
      color: color($purple, lighter);
    }
  }
  .c-recent-articles__articles {

    @media screen and (break(small)) {
      @include grid(6, 12, 30px);
    }
  }
}

.c-video-recent {
  position: relative;
  display: none;
  .c-hero__play {
    top: 50%;
    transform: translate(-50%,-50%);
    left: 50%;
    width: 60px;
    svg {
      width: fit-content;
    }
  }
  @media screen and (break(small)) {
    display: block;
  }
}

.e-list {
  padding: 0;
  list-style: none;
  .sidenav {
    &-title {
      font-size: 1em;
      position: relative;
    }

    &-item {
      border-radius: 7px;
      color: color($purple,lighter);
      display: block;
      font-weight: 400;
      margin-bottom: 8px;
      padding: 4px 10px;

      &.current-article {
        background-color: color($blue, default);
        color: #ffffff;
        text-decoration: none;
      }
      &:hover {
        background-color: #f4f3f6;
        color: color($purple,lighter);
        text-decoration: none;
      }
    }
  }
}

.article-list-title {
  font-size: 1.6em;
  color: color($purple,light);
}


.article-list {
  @include n-columns(340px,  0px, true, 2);
  .o-columns {
    list-style-type: none;
    padding:0;
  }
  .o-columns__item {
    box-sizing: border-box;
    padding: 10px 30px;
    color: color($purple, lighter);
    a {
      font-weight: 600;
      font-size: 1.250em;
    }
  }
  .article-list-wrapper {
    position: relative;
  }
  a.article-list-other {
    font-size: 0.9em;
    position: absolute;
    right:0;
    bottom:0;
    font-weight: 300;
    color: color($blue, default);
    padding: 0 0 0 25px;
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 30%);
    &:after {
      opacity: 0;
      content: "\2192";
      height: 1px;
      position: absolute;
      width: 100%;
      right: -110%;
      transform: translateX(30px);
      @include transitionEaseInOut();
    }
    &:hover {
      &:after {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }
}

.c-quick-search {
  margin-top: 40px;
  .e-button {
    font-weight: 400;
    margin-right: 16px;
    margin-bottom: 16px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.breadcrumbs {
  li {
    font-weight: 400;
  }
}

#chatbot {
  display: none;
}

.notification {
  position: absolute;
  z-index: 9999;
  height: 73px;
}

.request-title {
  font-size: 2em;
  margin-top: 16px;
  border-bottom: 1px solid $border-color;
  &--full {
    width: 100%;
    max-width: 100%;
  }
}

textarea {
  border: 0;
  border-bottom: 2px solid $border-color;
  border-radius: 0;
  padding: 10px;
  width: 100%;
  transition: all .4s ease-in-out;
  &:focus {
    border-bottom: 2px solid $brand_color;
    outline: none;
  }
}

//Remove dropdown select ticket forms
.request_ticket_form_id{
     display:none;
}
