// ↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧
// Color palette
// Last update: 23/03/2016
// ↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥

$blue: (
  darkest  : #003C5D,
  darker   : #016AA3,
  dark     : #0087D1,
  default  : #00A5FF,
  light    : #2EB5FF,
  lighter  : #5CC5FF,
  lightest : #B9E6FF
);


$purple: (
  darkest  : #1B143C,
  darker   : #1B143C,
  dark     : #1B143C,
  default  : #201849,
  light    : #453F6B,
  lighter  : #736D91,
  lightest : #BAB7CC
);


$orange: (
  darkest  : #FCA664,
  darker   : #FCA664,
  dark     : #FCA664,
  default  : #FCA664,
  light    : #FFB077,
  lighter  : #FFC296,
  lightest : #FFDDBA
);


$floral: (
  darkest  : #E9E3D7,
  darker   : #E9E3D7,
  dark     : #F2EEE6,
  default  : #FEFAF2,
  light    : #FEFAF2,
  lighter  : #FEFAF2,
  lightest : #FEFAF2
);


$green: (
  darkest  : #61CC71,
  darker   : #61CC71,
  dark     : #61CC71,
  default  : #61CC71,
  light    : #61CC71,
  lighter  : #61CC71,
  lightest : #61CC71
);


$red: (
  darkest  : #C94646,
  darker   : #C94646,
  dark     : #C94646,
  default  : #C94646,
  light    : #C94646,
  lighter  : #C94646,
  lightest : #C94646
);


$grey: (
  light    : #F2F2F2

);
