/***** Breadcrumbs *****/
.breadcrumbs {
  list-style-type: none;
  @include tablet {
    margin: 0;
    text-align: left;
  }

  margin: 0 0 15px 0;
  padding: 0;

  li {
    color: color($blue,default);
    display: inline;
    font-weight: 600;
    font-size: $font-size-small;
    max-width: 450px;
    overflow: hidden;
    text-overflow: ellipsis;

    + li::before {
      content: ">";
      margin: 0 4px;
      background: none;
      color: color($purple,lighter);
    }
    a, a:visited {
      color: color($purple,lighter);
    }
    &:last-child {
      a, a:visited {
        color: color($blue,lighter);
      }
    }
  }
}
