/***** Search results *****/
.search-results {
  @include desktop {
    flex-direction: row;
  }

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;

  &-column {
    @include desktop {
      flex: 0 0 45%;
    }

    flex: 1;
  }

  &-list {
    list-style-type: none;
    margin-bottom: 25px;
    padding:0;
    > li {
      border-bottom: 1px solid $border-color;
      padding: 20px 0;
      // &:first-child {
      //   border-top: 1px solid $border-color;
      // }
    }
  }
}

.search-result {

  &-title {
    font-size: 2em;
    span{
      font-size:1.4rem;
      color:color($orange,default);
    }
  }
  &-link {
    font-size: 1.250em;
    font-weight: 600;
    color: color($purple, lighter);
  }
  &-description {
    margin-top: 15px;
    color: color($purple, lighter);
    font-size: 1rem;
    position: relative;
  }

  a.search-result-other {
    font-size: 0.9em;
    position: absolute;
    right:0;
    bottom:0;
    font-weight: 300;
    color: color($blue, default);
    padding: 0 0 0 25px;
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 30%);
    &:after {
      opacity: 0;
      content: "\2192";
      height: 1px;
      position: absolute;
      width: 100%;
      right: -110%;
      transform: translateX(30px);
      @include transitionEaseInOut();
    }
    &:hover {
      &:after {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }

  &-votes,
  &-meta-count {
    color: $secondary-text-color;
    display: inline-block;
    font-size: $font-size-small;
    font-weight: $font-weight-light;
    padding: 4px 5px;
    position: relative;

    &::before {
      @extend .icon;
      color: $brand_color;
    }

    [dir="ltr"] & {
      margin-left: 5px;
      &::before {
        margin-right: 3px;
      }
    }

    [dir="rtl"] & {
      margin-right: 5px;
      &::before {
        margin-left: 3px;
      }
    }
  }

  &-votes::before {
    content: "\1F44D";
  }

  &-meta-count::before {
    content: "\1F4AC";
  }

  .meta-group {
    align-items: center;
    padding:0;
  }

  &-breadcrumbs {
    margin: 0;
    font-size: 1rem;
    li+li::before {
      color: color($purple,lightest) !important;
    }
    a {
      font-weight: 400 !important;
      color: color($purple,lightest) !important;
    }
    // li:last-child::after {
    //    content: "·";
    //    display: inline-block;
    //    margin: 0 5px;
    // }
  }
}
