// Variables

// Colors
$brand_color: color($blue, default) !default;
$brand_text_color: #fff !default; //Color for text with an accent color background
$text_color: color($purple,lighter) !default;
$link_color: color($red, default) !default;
$background_color: #fff !default;

$visited-link-color: darken($link_color, 20%);
$hover-button-color: darken($brand_color, 20%);
$secondary-text-color: lighten($text_color, 20%);

$primary-shade: darken($background_color, 2%); //#f2f2f2 for the default background_color
$secondary-shade: darken($background_color, 5%); //#f0f0f0 for the default background_color

$font-size-bigger: 16px;
$font-size-base: 15px;
$font-size-navigation: 14px;
$font-size-small: 13px;
$font-size-smaller: 11px;

$border-color: #f3f3f3;

$button-color: $brand_color;

$input-font-size: 14px;
$field-text-color: #999;
$field-text-focus-color: #555;

// Breakpoints variables
$tablet-width: 768px;
$desktop-width: 1024px;
$max-width-container: 1160px;

// Fonts
$heading_font: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif !default;
$text_font: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif !default;
$font-weight-base: 400;
$font-weight-light: 300;
$font-weight-semibold: 600;
